<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    <div class="container">
        <h1>Register to our website</h1>
        <div class="box">
            <!-- We got this icon from Font Awesome Cheatsheet -->
            <form action="/register" method="POST">
                <i class="fas fa-envelope-square"></i>
                <input type="email" name="email" id="email" placeholder="Enter your Email">
        </div>
        <div class="box">
            <i class="fas fa-key"></i>
            <input type="password" name="password" id="password" placeholder="Set your Password">
        </div>
        <div class="box">
            <i class="fas fa-key"></i>
            <input type="password" name="confirmpassword" id="password" placeholder="Re-enter your Password">
        </div>
        <button class="btn">Register</button>

        </form>
    </div>

</body>

</html>